%h2 Routes

%ul
  %li <a href="/hello">Hello</a>

%h2 Dashboard

%table
  %tr
    %td Script
    %td= $0
  %tr
    %td Server Port
    %td= env['SERVER_PORT']
  %tr
    %td Latency
    %td= recent_latency
  %tr
    %td Request took
    %td= (Time.now.to_f - env[:start_time]).round(3)
  %tr
    %td Config
    %td
      %pre= JSON.pretty_generate(env.config)
